KEYCLOAK_URL=http://localhost:8080 
KEYCLOAK_REALM=cfl
# The client ID for which you want to receive webhook events (e.g., sample-admin)
KEYCLOAK_CLIENT_ID=sample-admin
# The agent's client credentials for authentication (must have admin permissions)
KEYCLOAK_AGENT_CLIENT_ID=sample-admin-agent
KEYCLOAK_AGENT_CLIENT_SECRET=<your-agent-client-secret>
PORT=3002

#===You must provide either AGENT_URL or NGROK_AUTH_TOKEN for the webhook to work properly.
#If you provide neither, the agent service will exit immediately.

#The AGENT_URL should be the public URL where the agent is accessible, and it is necessary if this service is running on a cloud.
AGENT_URL=
#The NGROK_AUTH_TOKEN is required if you are running the agent locally and want to expose it to the internet using ngrok. It allows ngrok to create a secure tunnel to your local server, making it accessible from the public internet.
NGROK_AUTH_TOKEN=
